body {
  background: #fff;
  font: 1.5em Helvetica, Arial, sans-serif;
  margin: 10px;
  padding: 0;
}
h1, h2, p {
  position: absolute;
}
h1 {
  color: #2b4c0a;
  font-size: 1.8em;
  left: 270px;
  top: 136px;
}
h2 {
  color: #4a751f;
  font-size: 0.8em;
  left: 282px;
  top: 385px;
}
a {
  color: #999;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:hover, a:active {
  color: #999;
}
p {
  color: #999;
  font-size: 0.4em;
  left: 338px;
  top: 440px;
}
table {
  background: #fff;
  border-collapse: collapse;
  color: #b5f278;
}
th {
  border-bottom: 2px solid #fff;
  color: #fff;
  font-weight: normal;
}
th, td {
  background: #4a751f;
  padding: 5px;
  text-align: left;
}
#and, #nand, #nor, #or, #xor {
  position: absolute;
}
#and {
  left: 130px;
  top: 490px;
}
#nand {
  left: 460px;
  top: 490px;
}
#nor {
  left: 515px;
  top: 250px;
}
#or {
  left: 305px;
}
#xor {
  left: 72px;
  top: 250px;
}
.input {
  border-right: 2px solid #fff;
  color: #fff;
  text-align: right;
}
.operation {
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  border-right: 2px solid #fff;
  color: #fff;
  font-weight: bold;
}
.symbol {
  color: #b5f278;
  font-weight: normal;
}
.false {
  background: #2b4c0a;
}
.topright {
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
}
.bottomright {
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
}
.bottomleft {
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
}