!!!
%html{ :lang => 'en' }
  %head
    %meta{ :charset => 'UTF-8' }
    %title Truth Tables
    %link{ :href => 'web/web.css', :rel => 'stylesheet', :media => 'all' }
  %body
    %h1
      Truth Tables
    %h2
      a programmer’s reference
    %table#and
      %thead
        %tr
          %th.operation
            AND
            %span.symbol
              ∧
          %th
            true
          %th.topright
            false
      %tbody
        %tr
          %td.input
            true
          %td
            true
          %td.false
            false
        %tr
          %td.input.bottomleft
            false
          %td.false
            false
          %td.false.bottomright
            false
    %table#nand
      %thead
        %tr
          %th.operation
            NAND
            %span.symbol
              ↑
          %th
            true
          %th.topright
            false
      %tbody
        %tr
          %td.input
            true
          %td.false
            false
          %td
            true
        %tr
          %td.input.bottomleft
            false
          %td
            true
          %td.bottomright
            true
    %table#nor
      %thead
        %tr
          %th.operation
            NOR
            %span.symbol
              ↓
          %th
            true
          %th.topright
            false
      %tbody
        %tr
          %td.input
            true
          %td.false
            false
          %td.false
            false
        %tr
          %td.input.bottomleft
            false
          %td.false
            false
          %td.bottomright
            true
    %table#or
      %thead
        %tr
          %th.operation
            OR
            %span.symbol
              ∨
          %th
            true
          %th.topright
            false
      %tbody
        %tr
          %td.input
            true
          %td
            true
          %td
            true
        %tr
          %td.input.bottomleft
            false
          %td
            true
          %td.false.bottomright
            false
    %table#xor
      %thead
        %tr
          %th.operation
            XOR
            %span.symbol
              ⊕
          %th
            true
          %th.topright
            false
      %tbody
        %tr
          %td.input
            true
          %td.false
            false
          %td
            true
        %tr
          %td.input.bottomleft
            false
          %td
            true
          %td.false.bottomright
            false
    %p
      \©2010
      %a{ :href => 'http://johntopley.com/' }
        John Topley
      |
      %a{ :href => 'http://github.com/johntopley/truthtables' }
        Source