!!!
%html{ :lang => "en", :manifest => "/cache.manifest" }
  %head
    %meta{ :charset => "UTF-8" }
    %meta{ :name => "viewport", :content => "width=320; initial-scale=1.0; maximum-scale=1; user-scalable=0;" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    %link{ :href => "apple-touch-icon.png", :rel => "apple-touch-icon" }
    %link{ :href => "apple-touch-startup.png", :rel => "apple-touch-startup-image" }
    %link{ :href => "apple-touch-icon.png", :rel => "apple-touch-icon" }
    %title
      Truth Tables
    %style{ :media => "screen", :type => "text/css" }
      @import "/mobile/mobile.css";
  %body
    #installation
      %p{ :style => "line-height: 22px; text-align: center; margin-top: 150px;" }
        To install Truth Tables, tap the
        %span{ :style => "color: #fff; font-size: 20px; line-height: 20px;" }
          +
        button below and choose
        %span{ :style => "color: #fff;" }
          Add to Home Screen
        \.
      #arrow
    %script{ :type => "text/javascript" }
      var ctx = document.getCSSCanvasContext("2d", "arrow", 30, 30);
      ctx.fillStyle = "rgb(255,255,255)";
      ctx.beginPath();
      ctx.moveTo(0, 0);
      ctx.lineTo(30, 0);
      ctx.lineTo(15,23);
      ctx.closePath();
      ctx.fill();