!!!
%html{:lang => "en", :manifest => "production.manifest"}
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "viewport", :content => "width=320; initial-scale=1.0; maximum-scale=1; user-scalable=0;"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}
    %link{:href => "apple-touch-startup.png", :rel => "apple-touch-startup-image"}
    %title
      Truth Tables
    %style{:media => "screen", :type => "text/css"}
      @import "/mobile/jqtouch/jqtouch.css";
    %style{:media => "screen", :type => "text/css"}
      @import "/mobile/jqtouch/themes/apple/theme.css";
    %style{:media => "screen", :type => "text/css"}
      @import "/mobile/mobile.css";
    %script{:src => "/mobile/jqtouch/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/mobile/jqtouch/jqtouch.js", :type => "text/javascript"}
    %script{:src => "/mobile/mobile.js", :type => "text/javascript"}
  %body
    #jqt
      #home.current
        .toolbar
          %h1
            Truth Tables
          %a{:href => "#about", :class => "button slideup"}
            About
        %ul.rounded
          %li.arrow
            %a{:href => "#or"}
              %img{:src => "/table.png", :alt => "", :height => "15", :width => "20"}
              OR
          %li.arrow
            %a{:href => "#xor"}
              %img{:src => "/table.png", :alt => "", :height => "15", :width => "20"}
              XOR
          %li.arrow
            %a{:href => "#nor"}
              %img{:src => "/table.png", :alt => "", :height => "15", :width => "20"}
              NOR
          %li.arrow
            %a{:href => "#and"}
              %img{:src => "/table.png", :alt => "", :height => "15", :width => "20"}
              AND
          %li.arrow
            %a{:href => "#nand"}
              %img{:src => "/table.png", :alt => "", :height => "15", :width => "20"}
              NAND
      #or
        .toolbar
          %a.back
            Back
          %h1
            OR ∨
        %ul.rounded
          %li
            %table
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
              %tr
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
              %tr.last
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
        %ul.rounded
          %li
            Produces a value of true if at least one of its operands is true
      #xor
        .toolbar
          %a.back
            Back
          %h1
            XOR ⊕
        %ul.rounded
          %li
            %table
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
              %tr
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
              %tr.last
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
        %ul.rounded
          %li
            Produces a value of true if one but not both of its operands is true
      #nor
        .toolbar
          %a.back
            Back
          %h1
            NOR ↓
        %ul.rounded
          %li
            %table
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
              %tr
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
              %tr.last
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
        %ul.rounded
          %li
            Produces a value of true if both of its operands are false
      #and
        .toolbar
          %a.back
            Back
          %h1
            AND ∧
        %ul.rounded
          %li
            %table
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
              %tr
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
              %tr.last
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
        %ul.rounded
          %li
            Produces a value of true if both of its operands are true
      #nand
        .toolbar
          %a.back
            Back
          %h1
            NAND ↑
        %ul.rounded
          %li
            %table
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
              %tr
                %td.column1
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
              %tr
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
              %tr.last
                %td.column1
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td
                  %img{:src => "/false.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  false
                %td.result
                  %img{:src => "/true.png", :alt => "", :height => "19", :width => "18"}
                  %br/
                  true
        %ul.rounded
          %li
            Produces a value of false if both its operands are true
      #about
        .toolbar
          %a.back
            Back
          %h1
            About
        %ul.rounded
          %li
            %span{:style => "color: #000;"}
              %img{:src => "/info.png", :alt => "", :height => "19", :width => "19"}
              Truth Tables
              %br/
              %span{:style => "color: #666;"}
                a programmer’s reference
        %ul.rounded
          %li
            %span{:style => "color: #000;"}
              © 2010 John Topley
              %br/
              %span{:style => "color: #666; font-size: 80%;"}
                http://johntopley.com/
                %br/
                http://github.com/johntopley/truthtables