body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  color: #b5f278;
  font: 16px/20px Helvetica, sans-serif;
  height: 460px;
  margin: 0;
  max-height: 460px;
  padding: 0;
  width: 100%;
}
li table {
  border-collapse: collapse;
  width: 100%;
}
li tr {
  border-bottom: 1px solid #B4B4B4;
}
li tr.last {
  border-bottom: none;
}
li td {
  font-size: 80%;
  padding: 5px 8%;
  text-align: left;
}
.column1 {
  border-right: 1px solid #B4B4B4;
}
.result {
  border-left: 1px solid #B4B4B4;
  color: #000;
}
.url {
  font-size: 80%;
}
#arrow {
  background: -webkit-canvas(arrow) no-repeat top center;
  bottom: 120px;
  height: 30px;
  left: 0;
  position: absolute;
  width: 100%;
}
#container, #installation {
  display: none;
}
#installation {
  background: #2b4c0a -webkit-gradient(linear, center top, center bottom, from(rgba(255,255,255,.2)), color-stop(.3, rgba(255,255,255,0)), to(rgba(255,255,255,0)));
  color: #b5f278;
  height: 460px;
  left: 0;
  max-height: 460px;
  min-height: 460px;
  position: absolute;
  text-shadow: rgba(0,0,0,.7) 0px -1px 0px;
  top: 0;
  width: 100%;
}   